:root {
  --farbe-black: #000000;
  --farbe-white: #ffffff;
  --farbe-cream: #fffcf3;
  --farbe-lilac: #d8a1fb;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--farbe-cream);
    /* background-image: radial-gradient(circle, #e7e0cc 2px, transparent 2px);
    background-size: 110px 125px; */
}

.gradient-ball {
    position: fixed;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background: radial-gradient(circle, #d8a1fb 0%, transparent 65%);
    filter: blur(60px);
    opacity: 0.7;
    pointer-events: none;
    z-index: -999;
    transform: translate(-50%, -50%);
    transition: left 1.2s cubic-bezier(0.25, 0.1, 0.25, 1), top 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
}

h1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 128px;
    letter-spacing: -2.5%;
    color: var(--farbe-black);
    text-align: center; 
    line-height: 95%;
}

h2 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 78px;
    letter-spacing: 1%;
    color: var(--farbe-black);
    margin-top: 80px;
    margin-bottom: 50px;
}

h2:hover {
    color: var(--farbe-lilac);
}

h3 {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -2.5%;
    color: var(--farbe-lilac);
}

h4 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: var(--farbe-black);
}

p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--farbe-black);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    background-color: var(--farbe-cream);
    padding: 30px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header img {
    width: 55px;
}

.navigation a {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--farbe-black);
    text-decoration: none;
}

.hero-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subhead {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 22px;
    margin-top: 22px;
}

.subhead-line {
    border: none;
    border-top: 4px solid var(--farbe-black);
    width: 600px;
    margin: 0;
}

main {
  flex: 1;
}

.section-area {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.section-subhead {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: var(--farbe-black);
    padding-bottom: 48px;
    max-width: 630px;
    text-align: center;
}

.about-me,
.my-skills,
.portfolio,
.references {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 80px 120px;
    margin-top: 80px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

/* Logo icon hovers like link image in footer  */

/* .skills-card img {
    width: 56px;
} */

/* .skills-card:hover img {
    transform: translateY(-15px);
} */

.skills-card:hover span {
    color: var(--farbe-lilac);
}

.skills-card img {
    width: 56px;
    transition: transform 1.2s ease;
}

.skills-card:hover img {
    transform: rotateY(360deg);
}

.skills-card span {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: var(--farbe-black);
}

.skills-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.references-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 60px;
}

.references-container {
    padding: 42px 26px;
    border: 4px solid var(--farbe-black);
}

.reference-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference-head img {
    width: 32px;
    padding-bottom: 22px;
}

.reference-name {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: var(--farbe-black);
    padding-bottom: 8px;
}

.reference-title {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--farbe-black);
    padding-bottom: 28px;
}

.references-container:hover {
    padding: 42px 26px;
    border: 4px solid var(--farbe-lilac);
}

.references-container:hover .reference-head img {
    filter: invert(76%) sepia(46%) saturate(1507%) hue-rotate(204deg) brightness(94%) contrast(109%);
}