footer {
    background-color: var(--farbe-black);
    clip-path: polygon(0 0%, 100% 18%, 100% 100%, 0% 100%);
    padding-top: 30px;
    margin-top: auto;
    padding-bottom: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1440px;
    margin: 0 auto;
}

.social-media-icon {
    display: flex;
    justify-content: flex-end;
    align-items: first baseline;
    gap: 20px;
    padding-right: 20px;
}

.social-media-icon img {
    width: 40px;
}

.social-media-icon img:hover {
    transform: translateY(-15px);
    transition: transform 0.3s ease;
}

.link-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    margin-right: 4px;
}

.footer-left img {
    width: 85px;
    padding-left: 20px;
}

.copywrite {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--farbe-cream);
    padding-left: 20px;
}

.footer-links {
    position: relative;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--farbe-cream);
    text-decoration: none;
    padding-right: 20px;
    display: inline-block;
    transition: transform 0.3s ease, font-weight 0.3s ease;
}

.footer-links::before {
    content: attr(data-text);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
}

.footer-links:visited {
    color: var(--farbe-cream);
}

.footer-links::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 33%;
    width: 50%;
    height: 2.5px;
    background-color: var(--farbe-lilac);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.footer-links:hover::after {
    transform: scaleX(1);
}

.footer-links:hover {
    font-weight: 600;
    transform: translateX(6px);
    color: var(--farbe-cream);
}