@media (max-width: 1620px) {
    /* Skills Section */
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1350px) {
    /* About Section */
    .about-me-headline {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-left,
    .about-right {
        width: 90%;
    }

    .about-right {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1220px) {
    h2 {
        font-size: 55px;
    }

    /* Skills Section */
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .skills-outline::before {
        background: linear-gradient(
            to right,
            var(--farbe-black) calc(50% - 220px),
            transparent calc(50% - 220px),
            transparent calc(50% + 220px),
            var(--farbe-black) calc(50% + 220px)
        );
        pointer-events: none;
    }
}

@media (max-width: 1055px) {
    /* Skills Section */
    .skills-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .skills-outline h2 {
        padding: 0;
    }

    .skills-grid {
        gap: 30px 60px;
    }

    /* References Section */
    .references-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 810px) {
    h2 {
        font-size: 36px;
    }

    h4 {
        font-size: 38px;
    }

    /* About Section */
    .about-left,
    .about-right {
        width: 100%;
    }

    /* Skills Section */
    .skills-outline::before {
        background: linear-gradient(
            to right,
            var(--farbe-black) calc(50% - 145px),
            transparent calc(50% - 145px),
            transparent calc(50% + 145px),
            var(--farbe-black) calc(50% + 145px)
        );
        pointer-events: none;
    }

    .skills-grid {
        gap: 20px 30px;
    }

    .skills-information p {
        text-align: center;
    }

    /* Legal Notice & Privacy Policy */
    .text-container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 60px 20px 20px 20px;
    }
}

@media (max-width: 700px) {
    /* Toggle Menu */
    .open-menu {
        gap: 30px;
    }

    .open-nav-link {
        font-size: 40px !important;
        padding: 10px 20px !important;
    }

    .open-nav-link::before {
        width: 15px;
        height: 15px;
        border-left: 4px solid var(--farbe-black);
        border-bottom: 4px solid var(--farbe-black);
    }

    .footer-direction {
        flex-direction: column;
        align-items: flex-start !important;
        justify-content: space-between;
    }

    .toggle-menu-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
    }

    .toggle-menu-right {
        margin-top: 30px;
        margin-bottom: -10px;
        align-self: flex-end;
    }

    .toggle-footer-heading {
        font-size: 40px;
    }

    .footer-link-text {
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    h2 {
        font-size: 30px;
    }

    h4 {
        font-size: 30px;
    }

    h5 {
        font-size: 22px;
    }

    /* Header Menu */
    .burger-menu {
        margin-left: 10px;
    }

    /* Contact Form */
    .contact-heading {
        font-size: 45px;
    }

    .contact-subtitle {
        font-size: 30px;
    }

    .form-submit {
        margin-top: 24px;
        padding: 16px 45px;
        white-space: nowrap;
    }

    /* Footer */
    .scroll-up-arrow {
        display: none;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-left {
        margin-top: 50px;
        margin-bottom: -80px;
    }

    .footer-left img {
        padding-left: 0;
        width: 65px;
    }

    .footer-left a {
        justify-content: center;
    }

    .footer-left p {
        display: none;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .footer-right .copywrite.d-none {
        display: block !important;
        padding-left: 0;
    }

    .social-media-icon {
        justify-content: center;
        padding-right: 18px;
        margin: 0;
    }

    .link-area {
        justify-content: center;
        margin-top: 0px;
        margin-right: 0;
        gap: 20px;
    }

    .footer-links {
        padding-right: 0;
    }

    .footer-links::after {
        left: 49%;
    }
}