.project-wrapper-odd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 98px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.project-wrapper-even {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 98px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.project-wrapper-even .project-navigation-container {
    justify-content: flex-end;
}

.project-wrapper-even .project-details-container {
    align-items: flex-start;
}

.project-wrapper-even .project-images::after {
    left: -20px;
    right: 20px;
}

.project-images {
    position: relative;
    display: inline-block;
    width: 650px;
    height: 457px;
}

.project-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.project-images::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: -20px;
    bottom: -20px;
    border: 4px solid black;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.project-images:hover::after {
    opacity: 1;
}

.project-navigation-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.project-navigation {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    margin-top: 40px;
}

.project-navigation:hover {
    padding: 0;
    font-weight: 400;
}

.project-navigation img {
    width: 40px;
    height: 40px;
    display: block;
    transition: transform 0.3s ease;
}

.project-navigation:hover img {
    transform: scale(1.2);
}

.project-navigation:active img{
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.project-navigation:active{
    transform: none;
    box-shadow: none;
    background: none;
    border: none;
}

.project-details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 50%;
}

.project-counter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.project-details {
    display: flex;
    flex-direction: column;
}

.project-details p {
    width: 95%;
}

.project-headline {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    color: var(--farbe-black);
    text-align: left; 
    line-height: 100%;
    padding-bottom: 20px;
}

.project-subhead {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    color: var(--farbe-black);
    text-align: left; 
    line-height: 120%;
    padding-bottom: 24px;
    color: var(--farbe-lilac);
}

.button-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 28%;
    gap: 30px;
    margin-top: 50px;
}

.button-area button {
    margin-top: -20px;
    width: 100%;
    transition: width 0.3s ease, font-weight 0.3s ease;
    padding: 16px 55px;
}

.button-area button:hover {
    width: 115%;
    font-weight: 700;
    padding: 16px 55px;
}