.references-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 60px;
}

.references-container {
    padding: 42px 26px;
    border: 4px solid var(--farbe-black);
    width: 50%;
    box-sizing: border-box;
}

.reference-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reference-head img {
    width: 32px;
    padding-bottom: 22px;
}

.reference-name {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color: var(--farbe-black);
    padding-bottom: 8px;
}

.reference-title {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--farbe-black);
    padding-bottom: 28px;
}

.references-container:hover {
    padding: 42px 26px;
    border: 4px solid var(--farbe-lilac);
}

.references-container:hover .reference-head img {
    filter: invert(76%) sepia(46%) saturate(1507%) hue-rotate(204deg) brightness(94%) contrast(109%);
}