
.skills-outline {
    margin-top: 100px;
    padding: 80px 120px;
    position: relative;
}

/* Left, right and bottom line */
.skills-outline::after {
    content: '';
    position: absolute;
    inset: 0;
    top: 4px;
    border: 4px solid var(--farbe-black);
    border-top: none;
    pointer-events: none;
}

/* Top line */
.skills-outline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4px;
    background: linear-gradient(
        to right,
        var(--farbe-black) calc(50% - 300px),
        transparent calc(50% - 300px),
        transparent calc(50% + 300px),
        var(--farbe-black) calc(50% + 300px)
    );
    pointer-events: none;
}

.my-skills h2 {
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 20px;
    z-index: 1;
    white-space: nowrap;
}

.skills-outline {
    padding-top: 60px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 80px 110px;
    margin-top: 80px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.skills-card:hover span {
    color: var(--farbe-lilac);
}

.skills-card img {
    width: 56px;
    transition: transform 1.2s ease;
}

.skills-card:hover img {
    transform: rotateY(360deg);
}

.skills-card span {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    color: var(--farbe-black);
}

.skills-information {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.skills-information p {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.inline-link {
    position: relative;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    font-size: inherit;
    color: var(--farbe-lilac);
    text-decoration: none;
    display: inline-block;
    margin: 0 6px;
    transition: transform 0.3s ease;
}

.inline-link::before {
    content: attr(data-text);
    display: block;
    font-weight: 600;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
}

.inline-link::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 55%;
    width: 45%;
    height: 2px;
    background-color: var(--farbe-lilac);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.inline-link:hover::after {
    transform: scaleX(1);
}

.inline-link:hover {
    font-weight: 600;
    transform: translateX(3px);
    color: var(--farbe-lilac);
}